/****Right Hand Menu Styles (other than font styles)****/
.rtMenu {
  background: white;
  height: calc(100vh - 32px);
  margin: 16px;
  border-radius: 9px;
  color: #1c752a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0.1px;
  padding: 12px 12px 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.rt__title {
  font-size: 16px;
  font-weight: 800;
  padding: 0 0 8px 0;
  margin: 0;
}

.rt__desc {
  margin-top: 8px;
}

.rt__name {
  text-align: center;
  padding: 12px;
}

.rt__donut {
  margin: 0 auto;
}

.rt__footer {
  width: 100%;
  align-self: center;
}

.noCounty {
  display: flex;
  align-items: center;
  justify-content: center;
}


.rt__noCounty {
  text-align: center;
  padding: 20px;
}
