.legend {
  margin-top: 20px;
}

.leg__title {
  margin: 0.5rem auto 0.5rem 1.2rem;
  margin-left: 0;
}

.leg__item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ced4da;
  padding: 4px 0px 4px 6px;
  width: 297px;
  margin-left: -16px;
  font: normal normal normal 0.875rem/0.875rem "Hind";
  margin-left: -16px;
}

.leg__item:last-child {
  border-bottom: 1px solid #ced4da;
}

.leg__item:hover {
  background-color: #ced4da;
}

.selected_item {
  font-weight: 600;
  background-color: #ced4da;
}

.unselectable {
  cursor: default;
}

.leg__left {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.leg__color {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 1rem;
}

.leg__rt {
  font-size: 10px;
  float: right;
  white-space: nowrap;
  margin-right: 2rem;
  font-family: "Hind";
  font-size: 0.875rem;
}
