
.extraData-title {
	margin: 0.5rem auto 0.5rem 1.2rem;
	font: normal normal normal 1rem/1.3125rem futura-pt, sans-serif;
	letter-spacing: 0px;
	color: #1c752a;
	opacity: 1;
	margin-left: 0;
}

.Dropdown-control {
	width: 100%;
	height: 32px;
	padding: 4px 16px;
	border-color: #1c752a;
	border-radius: 5px;
	font: normal normal normal 1rem futura-pt;
}

.is-open .Dropdown-control{
	border-radius: 5px 5px 0 0;
}

.Dropdown-menu {
	border: 1px solid #1c752a;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.Dropdown-option {
	font: normal normal normal 1rem futura-pt;
	padding: 4px 16px;
}

.Dropdown-option:hover {
	background: rgba(206, 212, 218,.5);
	/* background: #CED4DA; */
}

.Dropdown-option.is-selected {
	display: none;
}

.Dropdown-option:not(:last-child) {
	border-bottom: 1px solid #1c752a;
}

.arrow {
	border-width: 7px;
	border-top-color: #1c752a;
	margin-top: -2px;
	margin-right: 6px;
}

.is-open .arrow {
	margin-top: -9px;
	border-width: 7px;
	border-bottom-color: #1c752a;
}