.data-selector {
	margin: 16px;
	background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0.1px;
	border-radius: 9px;
}

.data-selector-title {
	margin: 0.5rem auto 0.5rem 1.2rem;
	font: normal normal normal 1rem/1.3125rem futura-pt, sans-serif;
	letter-spacing: 0px;
	color: #1c752a;
	opacity: 1;
}

.data-selector .radioLabel {
	font: normal normal normal 0.8125rem/1.0625rem futura-pt;
	font-weight: normal;
	line-height: 1.0625rem;
	letter-spacing: 0px;
	color: #1c752a;
	font-weight: 400;
	padding-left: 15px;
}