.side-menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: white;
    border-radius: 10%;
    padding: 1rem 1rem 1rem 1rem;
    color: #1c752a;
    font-family: futura-pt;
    line-height: 1rem;
    min-width: 5rem;
}

#extra-data-menu .radioLabel {
    font: normal normal normal 0.8125rem/1.0625rem futura-pt;
}
#extra-data-menu .radioSel-column {
    margin-left: -1rem; 
}


.side-menu-title {
    font-size: 0.9rem;
}
