.left-menu {
  background: white;
  height: calc(100vh - 32px);
  margin: 16px;
  border-radius: 9px;
  color: #1c752a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0.1px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-menu ul {
  list-style-type: none;
}
