/* 
    I need fonts and text sizes.
    Then spacing and div options
    Documentation so that it is somewhat useable
*/

.card-container {
    border-radius: 9px;
    background-color: var(--component-background-color);
}

/* Used in:
    * Card headers
    * Titles
    * Any bold text
*/
.font-bold {
    font: normal normal bold 14px/14px Futura PT;
    letter-spacing: 0px;
    opacity: 1;
}

/* Used in:
    * List options
    * Dropdown menu (override the color to black)
    * Toggle menu options
    * Display data in Donut
    * Color key legend text
*/
.font-normal {
    font: normal normal medium 14px/18px Futura PT;
    letter-spacing: 0px;
    opacity: 1;
}

/* Used in:
    * Breadtext
    * Donut chart text
*/
.font-small {
    font: normal normal medium 10px/10px Futura PT;
    letter-spacing: 0px;
    opacity: 1;
}

/* I'm useful :)  */
.black {
    color: black;
}

/* I'm useful :)  */
.white {
    color: white;
}

/* Me too! :) */
.primary-color {
    color: var(--primary-font-color);
}


.option-container {
    height: 2rem;
    width: 100%
}

.option-text {
    color: var(--primary-font-color);
	font-family: Futura PT;
	font-size: 0.875rem; /* 14px */
    margin-left: 1rem;
}

