/* 
    I need fonts and text sizes.
    Then spacing and div options
    Documentation so that it is somewhat useable
*/

.card-container {
    border-radius: 9px;
    background-color: var(--component-background-color);
}

.header {
    color: var(--primary-font-color);
    font-family: Futura PT;
    font-size: 0.875rem; /* 14px */
    font-weight: bold;
}

.option-container {
    height: 2rem;
    width: 100%
}

.option-text {
    color: var(--primary-font-color);
	font-family: Futura PT;
	font-size: 0.875rem; /* 14px */
    margin-left: 1rem;
}

