:root {
  --radio-color: #1C752A;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/****Left Hand Menu Styles (other than font styles)****/

#left-menu ul {
  list-style-type: none;
}

#left-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #D9D9D9;
}

#left-menu #county-list {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 215px);
}

#left-menu #data-selector {
  margin: 1rem auto 1rem;
  width: calc(100% - 2rem);
  flex: 1;
}

#data-selector {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #15223214;
  border: 1px solid #CED4DA;
  border-radius: 10px;
  opacity: 1;
}

#data-selector h3{
  margin: 0.5rem auto 0.5rem 1rem;
  font: normal normal normal 1rem/1.3125rem futura-pt, sans-serif;
  letter-spacing: 0px;
  color: #1C752A;
  opacity: 1;
}

#data-selector ul {
  margin: 0px;
  padding: 0px 0px 0px 1rem;
}

#data-selector label {
  font: normal normal normal 0.8125rem/1.0625rem futura-pt;
  letter-spacing: 0px;
  color: #1C752A;
  opacity: 1;
  font-weight: 400;
}

.flex-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.flex-list li {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.flex-list label {
  margin: 0px;
}

.radio {
  font-size: 1rem;
  color: var(--radio-color);
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  justify-content: center;
  align-content: center;
}

.radio__input {
  display: flex;
}

.radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

input.checked + .radio__control::before {
  transform: scale(1.2);
}

.radio__control {
  display: grid;
  place-items: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);
}

.radio__label {
  line-height: 1.06125rem;
}

nav button {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #059713; 
    background: #fff;
    border-bottom: 1px solid #F3AD1C;
    border-right: none;
    border-top: none;
    border-left: none;
    padding: 20px 0 20px 25px;
    width: 100%;
}

nav button:hover {
    background-color: #F3F2D8;
}

nav button:focus {
    background-color: #F3F2D8;
}

.scroll {
   display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/****Right Hand Menu Styles (other than font styles)****/
#right-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 255px;
    background: white;
    padding: 10px;
    border-radius: 9px;
    color: #059713;
}

#right-menu h2 {
    font-size: 2em;
    text-align: center;
}

#right-menu label {
    width: 235px;
    margin: 8px 0 0 0;
    padding: 5px;
    background-color: #F3F2D8;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

#right-menu #right-menu-county {
    display: visible;
}



/*toggle button*/
#right-menu input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;   
}

#right-menu .toggle {
    height: 20px;
    width: 42px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
    border: 2px solid #059713;
    background-color: #F5F5F5;
}      

#right-menu .toggle:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #059713;
    background: white;
    box-shadow: 0 1px 2px rgba(44,44,44,.2);   transition: all .3s ease;

}

#right-menu .toggle:checked {
    border-color: #059713;
    background-color: #059713;
}

#right-menu .toggle:checked:after {
    transition: all .3s ease;
    transform: translatex(20px);
}