/* Row alignment */
.radioSel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
  font-size: 10px;
  font-weight: 700;
}

.radioSel-row label {
  width: 50%;
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}

.radioSel-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radioSel-column label {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.radioLabel {
  padding-left: 10px;
  font-size: 10px;
  font-weight: 700;
  margin: 0;
  display: inline-block;
}

.radioOpt {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;  
  color: #1c752a;
  border: 1px solid #1c752a;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.radioSel-row input[type='radio']:checked, .radioSel-column input[type='radio']:checked {
  padding: 1px;
  background-image:linear-gradient(to bottom, #1c752a 0%, #1c752a 100%), linear-gradient(to bottom, white 0%, white 100%);
  background-clip: content-box, padding-box;
}
